// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../core/resource';
import { APIPromise } from '../core/api-promise';
import { RequestOptions } from '../internal/request-options';
import { path } from '../internal/utils/path';

export class Playground extends APIResource {
  /**
   * Stateless playground completion. Send the full conversation history (same shape
   * as chat completion messages) and receive only the newly generated messages.
   * Nothing is persisted server-side — the caller manages conversation state.
   *
   * @example
   * ```ts
   * const response = await client.playground.completion(
   *   'agent_id',
   *   {
   *     messages: [
   *       {
   *         content: "Hi, I'd like to check my appointment.",
   *         role: 'user',
   *       },
   *       {
   *         content:
   *           'Sure! Could you please provide your name?',
   *         role: 'agent',
   *       },
   *       { content: 'My name is John Smith.', role: 'user' },
   *     ],
   *   },
   * );
   * ```
   */
  completion(
    agentID: string,
    params: PlaygroundCompletionParams,
    options?: RequestOptions,
  ): APIPromise<PlaygroundCompletionResponse> {
    const { version, ...body } = params;
    return this._client.post(path`/agent-playground-completion/${agentID}`, {
      query: { version },
      body,
      timeout: (this._client as any)._options.timeout ?? 300000,
      ...options,
    });
  }
}

export interface PlaygroundCompletionResponse {
  /**
   * New messages generated by the agent. Same shape as chat completion response
   * messages. Does not include the input messages.
   */
  messages: Array<
    | PlaygroundCompletionResponse.MessageBase
    | PlaygroundCompletionResponse.ToolCallInvocationMessageBase
    | PlaygroundCompletionResponse.ToolCallResultMessageBase
    | PlaygroundCompletionResponse.NodeTransitionMessageBase
    | PlaygroundCompletionResponse.StateTransitionMessageBase
  >;

  /**
   * Whether the agent ended the conversation.
   */
  call_ended?: boolean;

  /**
   * Current node id (conversation-flow agents).
   */
  current_node_id?: string;

  /**
   * Current state name (retell-llm agents).
   */
  current_state?: string;

  /**
   * Updated dynamic variables after this turn.
   */
  dynamic_variables?: { [key: string]: string };

  /**
   * Knowledge base chunks retrieved for this turn.
   */
  knowledge_base_retrieved_contents?: Array<string>;
}

export namespace PlaygroundCompletionResponse {
  export interface MessageBase {
    /**
     * Content of the message
     */
    content: string;

    /**
     * Documents whether this message is sent by agent or user.
     */
    role: 'agent' | 'user';

    /**
     * Create timestamp of the message
     */
    created_timestamp?: number;

    /**
     * Unique id of the message
     */
    message_id?: string;
  }

  export interface ToolCallInvocationMessageBase {
    /**
     * Arguments for this tool call, it's a stringified JSON object.
     */
    arguments: string;

    /**
     * Name of the function in this tool call.
     */
    name: string;

    /**
     * This is a tool call invocation.
     */
    role: 'tool_call_invocation';

    /**
     * Tool call id, globally unique.
     */
    tool_call_id: string;

    /**
     * Create timestamp of the message
     */
    created_timestamp?: number;

    /**
     * Unique id of the message
     */
    message_id?: string;

    /**
     * Optional thought signature from Google Gemini thinking models. This is used
     * internally to maintain reasoning chain in multi-turn function calling.
     */
    thought_signature?: string;
  }

  export interface ToolCallResultMessageBase {
    /**
     * Result of the tool call, can be a string, a stringified json, etc.
     */
    content: string;

    /**
     * This is the result of a tool call.
     */
    role: 'tool_call_result';

    /**
     * Tool call id, globally unique.
     */
    tool_call_id: string;

    /**
     * Create timestamp of the message
     */
    created_timestamp?: number;

    /**
     * Unique id of the message
     */
    message_id?: string;

    /**
     * Whether the tool call was successful.
     */
    successful?: boolean;
  }

  export interface NodeTransitionMessageBase {
    /**
     * This is a node transition.
     */
    role: 'node_transition';

    /**
     * Create timestamp of the message
     */
    created_timestamp?: number;

    /**
     * Former node id
     */
    former_node_id?: string;

    /**
     * Former node name
     */
    former_node_name?: string;

    /**
     * Unique id of the message
     */
    message_id?: string;

    /**
     * New node id
     */
    new_node_id?: string;

    /**
     * New node name
     */
    new_node_name?: string;

    /**
     * How this node was reached. "global" means a global node transition,
     * "global_go_back" means returning from a global node, "interrupt_go_back" means
     * going back due to user interruption, and "normal" means a regular edge
     * transition.
     */
    transition_type?: 'global' | 'global_go_back' | 'interrupt_go_back' | 'normal';
  }

  export interface StateTransitionMessageBase {
    /**
     * This is a state transition.
     */
    role: 'state_transition';

    /**
     * Create timestamp of the message
     */
    created_timestamp?: number;

    /**
     * Former state name
     */
    former_state_name?: string;

    /**
     * Unique id of the message
     */
    message_id?: string;

    /**
     * New state name
     */
    new_state_name?: string;
  }
}

export interface PlaygroundCompletionParams {
  /**
   * Body param: Full conversation history, same shape as chat completion messages.
   * message_id and created_timestamp are optional — server generates them if
   * omitted.
   */
  messages: Array<
    | PlaygroundCompletionParams.MessageBase
    | PlaygroundCompletionParams.ToolCallInvocationMessageBase
    | PlaygroundCompletionParams.ToolCallResultMessageBase
    | PlaygroundCompletionParams.NodeTransitionMessageBase
    | PlaygroundCompletionParams.StateTransitionMessageBase
  >;

  /**
   * Query param: Agent version to use. Defaults to latest.
   */
  version?: number | string;

  /**
   * Body param: Conversation flow component id. Required when current_node_id refers
   * to a node within a component.
   */
  component_id?: string;

  /**
   * Body param: Current node id for conversation-flow agents. Used to resume from a
   * specific node. Must be provided together with component_id when testing
   * components.
   */
  current_node_id?: string;

  /**
   * Body param: Current state name for retell-llm agents. Used to resume from a
   * specific state.
   */
  current_state?: string;

  /**
   * Body param: Key-value pairs for dynamic variable substitution.
   */
  dynamic_variables?: { [key: string]: string };

  /**
   * Body param: Optional mock responses for tools. When provided, the agent uses
   * these instead of executing real tool calls.
   */
  tool_mocks?: Array<PlaygroundCompletionParams.ToolMock>;
}

export namespace PlaygroundCompletionParams {
  export interface MessageBase {
    /**
     * Content of the message
     */
    content: string;

    /**
     * Documents whether this message is sent by agent or user.
     */
    role: 'agent' | 'user';

    /**
     * Create timestamp of the message
     */
    created_timestamp?: number;

    /**
     * Unique id of the message
     */
    message_id?: string;
  }

  export interface ToolCallInvocationMessageBase {
    /**
     * Arguments for this tool call, it's a stringified JSON object.
     */
    arguments: string;

    /**
     * Name of the function in this tool call.
     */
    name: string;

    /**
     * This is a tool call invocation.
     */
    role: 'tool_call_invocation';

    /**
     * Tool call id, globally unique.
     */
    tool_call_id: string;

    /**
     * Create timestamp of the message
     */
    created_timestamp?: number;

    /**
     * Unique id of the message
     */
    message_id?: string;

    /**
     * Optional thought signature from Google Gemini thinking models. This is used
     * internally to maintain reasoning chain in multi-turn function calling.
     */
    thought_signature?: string;
  }

  export interface ToolCallResultMessageBase {
    /**
     * Result of the tool call, can be a string, a stringified json, etc.
     */
    content: string;

    /**
     * This is the result of a tool call.
     */
    role: 'tool_call_result';

    /**
     * Tool call id, globally unique.
     */
    tool_call_id: string;

    /**
     * Create timestamp of the message
     */
    created_timestamp?: number;

    /**
     * Unique id of the message
     */
    message_id?: string;

    /**
     * Whether the tool call was successful.
     */
    successful?: boolean;
  }

  export interface NodeTransitionMessageBase {
    /**
     * This is a node transition.
     */
    role: 'node_transition';

    /**
     * Create timestamp of the message
     */
    created_timestamp?: number;

    /**
     * Former node id
     */
    former_node_id?: string;

    /**
     * Former node name
     */
    former_node_name?: string;

    /**
     * Unique id of the message
     */
    message_id?: string;

    /**
     * New node id
     */
    new_node_id?: string;

    /**
     * New node name
     */
    new_node_name?: string;

    /**
     * How this node was reached. "global" means a global node transition,
     * "global_go_back" means returning from a global node, "interrupt_go_back" means
     * going back due to user interruption, and "normal" means a regular edge
     * transition.
     */
    transition_type?: 'global' | 'global_go_back' | 'interrupt_go_back' | 'normal';
  }

  export interface StateTransitionMessageBase {
    /**
     * This is a state transition.
     */
    role: 'state_transition';

    /**
     * Create timestamp of the message
     */
    created_timestamp?: number;

    /**
     * Former state name
     */
    former_state_name?: string;

    /**
     * Unique id of the message
     */
    message_id?: string;

    /**
     * New state name
     */
    new_state_name?: string;
  }

  export interface ToolMock {
    /**
     * Rule for matching tool calls
     */
    input_match_rule: ToolMock.Type | ToolMock.UnionMember1;

    /**
     * The output of the tool call that will be fed into the LLM. Should be a JSON
     * string.
     */
    output: string;

    /**
     * Name of the tool to mock
     */
    tool_name: string;

    /**
     * For tool calls like transfer_call that require a boolean result. Optional for
     * most tools.
     */
    result?: boolean | null;
  }

  export namespace ToolMock {
    export interface Type {
      /**
       * Match any input of the tool
       */
      type: 'any';
    }

    export interface UnionMember1 {
      /**
       * Arguments to match. Only provided fields will be checked
       */
      args: { [key: string]: unknown };

      /**
       * Match only calls with specific arguments
       */
      type: 'partial_match';
    }
  }
}

export declare namespace Playground {
  export {
    type PlaygroundCompletionResponse as PlaygroundCompletionResponse,
    type PlaygroundCompletionParams as PlaygroundCompletionParams,
  };
}
